@import 'normalize.css';
@import '../../fonts/stylesheet.css';

:root {}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #06121e;
    min-width: 300px;
    color: #fff;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BlinkMacSystemFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}