.logo-text {
    font-size: 3.6rem;
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    -webkit-animation: layout_animatedBackground_a__uXw48 20s linear infinite alternate;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #adfbda), color-stop(30%, #35c3ff), color-stop(50%, #fda399), color-stop(70%, #76d880), color-stop(90%, #ebf38b), to(#adfbda));
    font-family: "Dancing Script", Arial, Gadget, sans-serif;
}

.layout_name {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 150px;

    &::after {
        display: inline-block;
        content: '';
        width: 10px;
        height: 10px;
        border: 3px solid;
        border-color: var(--primary-color);
        border-top: none;
        border-right: none;
        border-radius: 2px;
        rotate: -45deg;
    }
}

a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #1b3c5d;
    margin-bottom: 8px;
    margin-top: 32px;
    font-weight: inherit;

    span {
        color: #b1a21e;
        font-family: Oswald, sans-serif;
        font-size: 2.4rem;
        text-shadow: 1px 1px 1px #1a1a1a;
        text-transform: uppercase;
    }

}

.title-list {
    margin: -12px -8px;
    height: auto;

    .gird {
        display: grid;
        flex-wrap: wrap;

        @media screen and (max-width: 767.98px) {
            grid-template-columns: repeat(2, 50%);
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 33.33%);
        }

        @media screen and (min-width: 1216px) {
            grid-template-columns: repeat(4, 25%);
        }

        @media screen and (min-width: 1408px) {
            grid-template-columns: repeat(5, 20%);
        }
    }

    .column {
        padding: 12px 8px;
    }

    .cover {
        min-height: 384px;
        padding-top: 66.66%;
        position: relative;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: block;
        overflow: hidden;
        -webkit-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;

        &:hover::before {
            animation: shadow-animation 0.5s;
        }

        &:hover img {
            transform: scale(1.05);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -150%;
            width: 100%;
            height: 100%;
            z-index: 8888;
            background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
            -webkit-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: 100%;
            -webkit-transition: -webkit-transform .15s ease-in-out;
            transition: -webkit-transform .15s ease-in-out;
            -o-transition: transform .15s ease-in-out;
            transition: transform .15s ease-in-out;
            transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            will-change: transform;


            @media screen and (min-width: 1024px) {
                .container {
                    max-width: 960px;
                }
            }
        }
    }

    .name {
        font-size: 1.6rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        padding: 0;
        margin: 0;

        a {
            color: #7a7a7a;
        }

        &.vi {
            margin-top: 8px;
        }

        &.vi a {
            color: #dbdbdb;
        }
    }
}

@keyframes shadow-animation {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.d-none {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: .5rem;
}

.button.is-link.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--especitally-color);
    color: var(--especitally-color);
}

.button.is-rounded {
    border-radius: 9999px;
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
    font-size: 1.2rem;

    &:hover {
        background-color: var(--especitally-color);
        color: var(--button-color);
    }
}