.logo-text {
  font-size: 3.6rem;
  -webkit-text-fill-color: #0000;
  -webkit-background-clip: text;
  -webkit-animation: layout_animatedBackground_a__uXw48 20s linear infinite alternate;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0, #adfbda),
    color-stop(30%, #35c3ff),
    color-stop(50%, #fda399),
    color-stop(70%, #76d880),
    color-stop(90%, #ebf38b),
    to(#adfbda)
  );
  font-family: 'Dancing Script', Arial, Gadget, sans-serif;
}

.layout_name {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 150px;

  &::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-color: var(--primary-color);
    border-top: none;
    border-right: none;
    border-radius: 2px;
    rotate: -45deg;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #1b3c5d;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: inherit;

  span {
    color: #b1a21e;
    font-family: Oswald, sans-serif;
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform: uppercase;
  }
}

.title-list {
  height: auto;
  min-height: 100px;

  .gird {
    margin: -12px -8px 12px;
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    padding: 12px 8px;
    flex: none;

    @media screen and (max-width: 767.98px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      width: 33.3333%;
    }

    @media screen and (min-width: 1216px) {
      width: 25%;
    }

    @media screen and (min-width: 1408px) {
      width: 20%;
    }
  }

  .cover {
    flex: none;
    min-height: 384px;
    min-width: 100%;
    @media screen and (max-width: 768px) {
      min-height: 340px;
    }

    @media screen and (max-width: 414px) {
      min-height: 300px;
    }

    padding-top: 66.66%;
    position: relative;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;

    &:hover::before {
      animation: shadow-animation 0.5s;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -150%;
      width: 100%;
      height: 100%;
      z-index: 8888;
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgba(255, 255, 255, 0)),
        to(rgba(255, 255, 255, 0.3))
      );
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-width: 100%;
      min-width: 100%;
      -webkit-transition: -webkit-transform 0.15s ease-in-out;
      transition: -webkit-transform 0.15s ease-in-out;
      -o-transition: transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      will-change: transform;

      @media screen and (min-width: 1024px) {
        .container {
          max-width: 960px;
        }
      }
    }
  }

  .name {
    font-size: 1.6rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 0;
    margin: 0;

    span {
      color: #7a7a7a;
    }

    &.vi {
      margin-top: 8px;
    }

    &.vi span {
      color: #dbdbdb;
    }
  }
}

.tlist {
  .column {
    padding: 12px 8px;
    flex: none;

    @media screen and (max-width: 767.98px) {
      width: 100%;
    }
  }

  .name {
    white-space: wrap !important;
  }
}
@keyframes shadow-animation {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.d-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}

.button.is-link.is-inverted.is-outlined {
  background-color: transparent;
  border-color: var(--especitally-color);
  color: var(--especitally-color);
}

.button.is-link.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #485fc7;
}

.button.is-rounded {
  border-radius: 9999px;
  border: 1px solid #dbdbdb;
  font-size: 1.2rem;
  padding: 5px 10px;

  &:hover {
    background-color: var(--especitally-color);
    color: var(--button-color);
  }
}

.title {
  font-size: 3.2rem;
  margin: 0 0 24px 0;
  font-weight: 500;
  line-height: 1.125;
  word-break: break-word;
}

.subtitle {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
}

///Paginate

.paginate {
  width: 100%;

  .pagination {
    width: 100%;
    list-style: none;
    --bs-pagination-bg: #06121e;
    --bs-pagination-active-bg: #06121e;
    --bs-pagination-active-border-color: #fff;
    --bs-pagination-hover-bg: #06121e;
    display: flex;
    gap: 5px;
    padding-left: 0;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap-reverse;
      justify-content: end;
    }

    @media screen and (max-width: 414px) {
      justify-content: center;
      gap: 20px 10px;
    }

    .page-item.active .page-link {
      border-color: #428bca;
    }

    .page-item:first-of-type {
      order: 2;
    }

    .page-item:last-of-type {
      order: 3;
    }

    @media screen and (max-width: 1024px) {
      .page-item:first-of-type {
        width: 111px;
      }

      .page-item:last-of-type {
        width: 111px;
      }
    }

    .page-item:first-of-type {
      margin-left: auto;

      @media screen and (max-width: 414px) {
        margin-left: 0;
      }
    }

    .page-item:last-of-type:hover,
    .page-item:first-of-type:hover {
      border-color: #b5b5b5;
      color: #dcf836;
    }
  }
}

.page-item.active .page-link {
  background: #428bca;
}

.page-link {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7px 12px;
  min-width: 40px;

  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 5px;
  color: #dbdbdb;

  &:hover {
    color: #b1a21e;
  }

  span {
    font-size: 2rem;
  }
}

//video
.video-js {
  width: 100%;
  min-height: 650px;

  @media screen and (max-width: 767.98px) {
    min-height: 350px;
  }

  @media screen and (max-width: 767.98px) {
    min-height: 280px;
  }
}

.video-js .vjs-control-bar {
  font-size: 1.4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  background-color: transparent !important;

  @media screen and (max-width: 767.98px) {
    font-size: 1rem;
  }
}

.video-js .vjs-progress-control {
  position: absolute;
  width: 100%;
  top: -70%;

  @media screen and (max-width: 767.98px) {
    position: inherit;
  }
}

.video-js .vjs-time-control {
  margin-left: auto;
}

//show Items is-multiline

.tlist {
  min-height: 0;
  min-width: 0;

  @media print, screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
      display: flex;
    }
  }

  .columns {
    margin: -12px;
  }

  .columns:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 12px;
  }

  a {
    color: #dbdbdb;

    &:hover {
      text-decoration: underline;
    }
  }

  .name.vi {
    margin-top: 0;
  }

  .name.vi a {
    font-weight: 700;
    color: #dbdbdb;
  }

  .name.en a {
    color: #7a7a7a;
    .year {
      color: #b5b5b5;
    }
  }

  img {
    width: 150px;
    display: flex;
  }

  .intro {
    margin-bottom: 1em;
    color: #b5b5b5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2em;
    max-height: 6.4rem;
  }
  .imdb-rating {
    color: #b5b5b5;
    font-weight: 700;
    text-align: right;
  }

  .imdb-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: -0.3em 0.6em 0 0;
  }

  .genres {
    margin-bottom: 0;
  }

  .tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 1.2rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
  }

  .tags .tag:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tag:not(body).is-dark {
    background-color: #363636;
    color: #fff;
  }
  .tags .tag {
    margin-bottom: 0.5rem;
  }

  .meta {
    text-align: right;
    color: #b5b5b5;
  }

  .media + .media {
    border-top: 1px solid hsla(0, 0%, 85.9%, 0.5);
    margin-top: 16px;
    padding-top: 16px;
  }

  .media {
    align-items: flex-start;
    display: flex;
    text-align: inherit;
  }

  .media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
    overflow-x: visible;
    overflow-x: initial;
  }

  .media-left,
  .media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .media-left {
    margin-right: 32px;
  }
}

//evaluate
.is-flex {
  display: flex !important;
}

.is-align-items-center {
  align-items: center !important;
}

.is-flex-direction-column {
  flex-direction: column !important;
}

.has-text-centered {
  text-align: center !important;
}

.field:not(:last-child) {
  margin-bottom: 12px;
}

.mt-4 {
  margin-top: 16px !important;
}

.my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.field.has-addons {
  display: flex;
  justify-content: flex-start;
}

.field.has-addons .control.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.field.has-addons .control:not(:last-child) {
  margin-right: -1px;
}

.control {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  font-size: 1.6rem;
  position: relative;
  text-align: inherit;
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.6rem;
  height: 3.5rem;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  position: relative;
  vertical-align: top;
}

.input,
.textarea {
  -webkit-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
}

.input,
.select select,
.textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  border-radius: 0 4px 4px 0;
}

.button.is-info {
  background-color: #3e8ed0;
  border-color: transparent;
  color: #fff;
  border-radius: 0;
}

.button.is-success {
  background-color: #48c78e;
  border-color: transparent;
  color: #fff;
  border-radius: 4px;
}

.button.is-primary {
  background-color: #cf2122;
  border-color: transparent;
  color: #fff;
}

.button.is-medium {
  font-size: 2rem;
  border-radius: 4px;
}

.mr-4 {
  margin-right: 16px !important;
}

.my-5 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.has-text-centered {
  text-align: center !important;
}

.title.is-2 {
  font-size: 4rem;
}

.label {
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label.is-medium {
  font-size: 2rem;
}

.label:not(:last-child) {
  margin-bottom: 10px;
}

.select:not(.is-multiple) {
  height: 2.5em;
}
.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select select:not([multiple]) {
  padding-right: 5rem;
}
.select select {
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  max-width: 100%;
  outline: none;
}

.navbar-link:not(.is-arrowless):after,
.select:not(.is-multiple):not(.is-loading):after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 0.625em;
}

.select:not(.is-multiple):not(.is-loading):after {
  border-color: #428bca;
  right: 1.125em;
  z-index: 4;
}

//donate

.donate-form .field {
  margin-bottom: 3.2rem;
}

.donate-info {
  margin-top: 2.3rem;
}

.m-5 {
  margin: 2.4rem !important;
}

.mt-3 {
  margin-top: 1.2rem !important;
}

.my-5 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}

.my-4 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

.has-text-left {
  text-align: left !important;
}

.donate-info .qr-code img {
  width: 300px;
}

img {
  height: auto;
  max-width: 100%;
}

.contact_copy__BYUeG svg {
  fill: #fff;
  width: 1.6em;
  height: 1.6em;
}

//Toast
.main-toastify {
  .Toastify__toast {
    border-radius: 0 !important;
  }
}

//Content
.content h3 {
  font-size: 2.4rem;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.125;
}

.has-text-warning {
  color: #ffe08a !important;
}

.content ul {
  list-style: disc outside;
  margin-top: 1.6rem;
}

.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1.6rem;
}

//similar css
.has-text-grey {
  color: #7a7a7a !important;
}

.has-text-warning {
  color: #ffe08a !important;
}

.has-text-right {
  text-align: right !important;
}

.Toastify__toast-container {
  border-radius: 0 !important;
}

.Toastify__toast {
  border-radius: 0 !important;
}

//message
.message.is-success {
  background-color: #effaf5;
}

.message {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 1.6rem;
}

.message.is-success .message-header {
  background-color: #48c78e;
  color: #fff;
}
.message-header {
  align-items: center;
  background-color: #4a4a4a;
  border-radius: 4px 4px 0 0;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1.25;
  padding: 1.2rem 1.6rem;
  position: relative;
}

.message.is-success .message-body {
  border-color: #48c78e;
  color: #257953;
}
.message-header + .message-body {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.message-body {
  border-radius: 4px;
  border: solid #dbdbdb;
  border-width: 0 0 0 4px;
  color: #4a4a4a;
  padding: 2rem 2.4rem;
}

.message.is-warning .message-body {
  border-color: #ffe08a;
  color: #946c00;
}

.message.is-warning {
  background-color: #fffaeb;
}

.message.is-warning .message-header {
  background-color: #ffe08a;
  color: rgba(0, 0, 0, 0.7);
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.year:hover,
.back:hover {
  color: #dcf836;
}

.related-btn {
  border: 1px solid #48c78e !important;
  background: transparent !important;
  color: #48c78e !important;
  svg {
    height: 1.3rem;
    fill: #fff;
    color: #fff;
    margin-right: 0.5em;
  }

  &:hover {
    background: #48c78e !important;
    color: #fff !important;
  }
}

.button-actions {
  margin: 35px 0;
  gap: 15px;
}

//comments
.comments-section {
  max-width: 600px;
  margin-top: 1.6rem;
  border-top: 1px solid #4a4a4a;
}
.comments-section .section-title {
  padding: 1em 2em 0;
  color: #7a7a7a;
}

.title-watch .title {
  margin: 0 0 1em;
  font-family: Merriweather, serif;
  font-weight: 400;
}
.title.is-5 {
  font-size: 2rem;
}
.comments-section .section-title svg {
  fill: #7a7a7a;
  width: 3rem;
  margin-right: 0.5em;
  vertical-align: middle;
}

.fb-comments {
  background: #fff !important;
}

.MuiPaper-root {
  color: #fff !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  background-color: #0b1e30 !important;
}

.css-rsks93-MuiPaper-root-MuiDialog-paper {
  z-index: 99999 !important;
  max-width: 1280px !important;
}

.MuiDialogContent-dividers {
  padding: 16px 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.css-ks0ey5-MuiTypography-root-MuiDialogTitle-root {
  font-size: 2rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500 !important;
  line-height: 1.6 !important;
  letter-spacing: 0.0075em !important;
}

.dialog-close-btn svg {
  width: 1.6em;
  height: 1.6em;
  fill: #fff;
}

.MuiDialogTitle-root {
  flex: 0 0 auto !important;
  margin: 0 !important;
  padding: 16px 24px !important;
}

.MuiTypography-h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}
.MuiDialog-paperFullWidth {
  width: calc(100% - 64px) !important;
}
