.wapper {
  width: 100%;
}

.heading {
  margin-top: 0;
  &.watch-all {
    color: #ccc;
    font-size: 2rem;

    svg {
      fill: #ccc;
      width: 6px;
      height: 16px;
      vertical-align: middle;
    }
  }
}
