.wapper {
    min-height: 70px;
    width: 100%;
    background: transparent;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.navbar {
    height: 100%;
    display: flex;
    transition: 0.5s ease;

    &-brand {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
        min-height: 3.25rem;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    &-start {
        display: flex;
    }

    &-end {
        display: flex;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;

        &:hover:not(.brand) {
            background-color: #102c48;
        }

        &__name {
            padding-right: 20px;
        }
    }

    &-item:hover:not(.brand) &-link {
        color: #428bca;
    }

    &-link {
        color: #fff;

        svg {
            margin-right: 5px;
            width: 1em;
            fill: #fff;
        }
    }

    .bars-toggle {
        svg {
            color: #fff;
            fill: #fff;
            width: 2.6rem;
            height: 2.6rem;
        }

    }
}