.wapper {
    min-height: 418px;
    padding: 48px 24px 96px;


}

.container {
    margin: 0 65px;

    @media screen and (max-width: 1023.98px) {
        margin: 0;
    }
}


.footer {
    .title {
        margin: 0 0 24px 0;
        font-size: 1.6rem;
        line-height: 1.125;
        font-weight: 600;
        word-break: break-word;
    }

    .has-text-grey-light {
        list-style: none;
        margin: 32px;
        padding-left: 0;
        color: #b5b5b5 !important;
        list-style-type: circle;
    }
}