.mb-4 {
  margin-bottom: 1.6rem !important;
}
.MuiButtonBase-root {
  font-size: 1.6rem !important;
}

.MuiButtonBase-root:not(.Mui-selected) {
  color: #fff !important;
}

.MuiTabs-flexContainer {
  gap: 30px !important;
}
