.wapper {
    min-height: 70px;
    width: 100%;
    background: transparent;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9997;
}

.navbar {
    height: 100%;
    display: flex;
    transition: 0.5s ease;

    &.mobile {
        display: none;
    }

    @media screen and (max-width: 1023.98px) {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: flex;
        }
    }

    &-brand {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
        min-height: 3.25rem;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    &-menu.mobile {
        justify-content: end;
    }

    &-start {
        display: flex;
    }

    &-end {
        display: flex;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;

        &:hover:not(.brand) {
            background-color: var(--background-color);
        }

        &__name {
            padding-right: 20px;
        }
    }

    .brand {

        @media screen and (max-width: 1023.98px) {
            padding: 8px 12px 8px 0;
        }
    }

    &-item:hover:not(.brand) &-link {
        color: var(--primary-color);
    }

    &-link {
        color: var(--especitally-color);

        svg {
            margin-right: 5px;
            width: 1em;
            fill: var(--especitally-color);
        }
    }

    .bars-toggle {
        padding: 12px;

        &:hover {
            cursor: pointer;
            background: rgba($color: #666, $alpha: 0.5);
            border-radius: 50%;
        }

        svg {
            color: var(--especitally-color);
            fill: var(--especitally-color);
            width: 2.4rem;
            height: 2.4rem;
        }

    }
}

.d-none {
    display: none;
}