.wapper {
    margin-top: 50px;
    width: 100%;
    min-height: 1000px;
}

.section {
    padding: 36px 48px;
    display: flex;
    justify-content: center;
}

.container {
    min-height: 1000px;
    width: 1344px;
    max-width: 1344px;
    margin: 0 40px;
}


.content {
    min-height: 100px;
}