.wapper {
    width: 100%;
    min-height: 1000px;
}

.section {
    padding: 48px;
    display: flex;
    justify-content: center;
}

.container {
    background: #ccc;
    width: 1344px;
    margin: 0 124px;
}